@charset 'utf-8';
html, body {
	height: 100%;
	color: #fff;
	background: #333;
}
.bgImg  {
	position: absolute;
	left: 50%;
	height: 100%;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#middlePlay {
	position: absolute;
	top: 144px;
	left: 50%;
}
.playMusic {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #000;
	border-radius: 50px;
	animation: play 3s infinite;
}
.playMusic:after {
	position: absolute;
	top: 30px;
	left: 35px;
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-left: 40px solid #fff;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	animation: play 3s infinite;
}
@keyframes play {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(0.5);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
.content {
	position: absolute;
	top: 144px;
	left: 50%;
	height: 200px;
	overflow-y: hidden;
	text-align: center;
}
#lrc_list li {
	font-size: 16px;
	line-height: 30px;
}
#lrc_list li.hover {
	color: #eecc50;
}
/*播放器*/
.jp-controls {
	position: relative;
	top: 500px;
	left: 100px;
	width: 250px;
	height: 50px;
	border-radius: 8px;
	background: #fff;
}
.play {
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 50px;
	width: 0;
	height: 0;
	border-left: 8px solid #9e9d9b;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}
.pause {
	position: absolute;
	top: 20px;
	left: 50px;
}
.pause:before {
	position: absolute;
	top: 0px;
	display: inline-block;
	content: '';
	width: 3px;
	height: 8px;
	background: #9e9d9b;
}
.pause:after {
	position: absolute;
	top: -5px;
	display: inline-block;
	content: '';
	width: 3px;
	height: 8px;
	background: #9e9d9b;
	margin: 5px;
}
.jp-mute, .jp-unmute, .jp-volume-max {
	color: #9e9d9b;
}
.jp-progress {
	width: 150px;
	height: 5px;
	background: #b4b3b1;
}
.jp-play-bar {
	background: #f00;
}