@charset 'utf-8';
body {
	background: #333;
}
#navbar {
	background: #170408;
}
#navbar .logo {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	background: #000;
	color: #efd700;
	border: 1px solid #efd700;
}
#navbar .logo .du1 {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
}
#navbar .logo .du2 {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
}
#navbar .logo .du3 {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 16px;
}
#navbar .logo .du4 {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 16px;
}
#navbar .logo i {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
}

#cantainer {
	width: 1000px;
	margin: 0 auto 0 auto;
	padding: 30px 0 0 0;
	background: #170408;
}